<div class="wrapper">
    <!-- <div class="page-header section-dark"
                                        style="background-image: url('https://images.livemint.com/img/2022/04/08/1140x641/Mercedes_Maybach_Exterior_1649410712256_1649410851920.jpg');min-height: 50vh !important;">
                                        <div class="filter"></div> -->
    <div class="page-header section-dark" style="background-image: url('{{Website_picture}}');min-height: 30vh !important;">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
            <div class="fog-low">
                        <!-- <img src="assets/img/fog-low.png" alt=""> -->
                    </div>
                    <div class="fog-low right">
                        <!-- <img src="assets/img/fog-low.png" alt=""> -->
                    </div>
                </div>

                <!-- <h1 class="presentation-title text-center">Questionnaire </h1> -->
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Deltasoft International
        <!-- <h6 class="category category-absolute">Designed and coded by -->

        
        </h6>
    </div>
    <div class="main">
    
        <router-outlet></router-outlet>
    </div>
</div>
